Discord Bot.json
{
  "name": "Discord Bot",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a helpful discord bot named meaw. You are serving Tamjid.\nHere is the timestamp {{ $json.body.time }} of the query.\nHere is Tamjid's query:\n{{ $json.body.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        16
      ],
      "id": "df6a1393-b379-4a47-ba6c-8a84cbcb8e67",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "v1Wj6Q5BAPrPFP2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1399365878776074260",
          "mode": "list",
          "cachedResultName": "Tj's SERVER",
          "cachedResultUrl": "https://discord.com/channels/1399365878776074260"
        },
        "channelId": {
          "__rl": true,
          "value": "1399366040697307166",
          "mode": "list",
          "cachedResultName": "test-ai-chat",
          "cachedResultUrl": "https://discord.com/channels/1399365878776074260/1399366040697307166"
        },
        "content": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        304,
        16
      ],
      "id": "971c139e-2e27-4401-a772-3d6e6b0b6ff8",
      "name": "Send a message",
      "webhookId": "23db07e0-5c2a-46d8-9cbf-1c1839cac462",
      "credentials": {
        "discordOAuth2Api": {
          "id": "v6kOqHm5VfossNYp",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f6b74dea-b10e-41e5-9819-aa499a9f879c",
        "authentication": "jwtAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -272,
        16
      ],
      "id": "2b7f3de5-c078-4cc6-b576-f3a56bb6fad8",
      "name": "Webhook",
      "webhookId": "f6b74dea-b10e-41e5-9819-aa499a9f879c"
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9f7a9d7f-7ad2-44fb-89b4-9a24bcc238e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55b439466f8ea1f254b1095142e70dfbf083eb84cdb50e2dc377f820356856a4"
  },
  "id": "YdCY2Ja90BMfGqkQ",
  "tags": []
}